---

---

<!-- Base -->
<a class="group relative inline-block focus:outline-none focus:ring" href="#">
  <span
    class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-[#81b18b]/95 transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
  ></span>

  <span
    class="w-[24rem] lg:w-[36rem] text-center relative inline-block border-2 border-[#efece1] px-8 py-3 text-sm font-bold uppercase tracking-widest text-black group-active:text-opacity-75"
  >
    <slot />
  </span>
</a>
