---

---

<div class="rounded-lg mx-auto max-w-xl shadow-xl bg-gray-900 text-white">
  <div class="border-b border-gray-800 px-8 py-3">
    <div class="inline-block w-3 h-3 mr-2 rounded-full bg-red-500"></div><div
      class="inline-block w-3 h-3 mr-2 rounded-full bg-yellow-300"
    >
    </div><div class="inline-block w-3 h-3 mr-2 rounded-full bg-green-400">
    </div>
  </div>
  <div class="px-8 py-6">
    <p>
      <em class="text-blue-400">const</em>
      <span class="text-green-400">aboutMe</span>
      <span class="text-pink-500">=</span>
      <em class="text-blue-400">function</em>() {}
      <p>
        &nbsp;&nbsp;<span class="text-pink-500">return</span>
        {}
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;name: <span class="text-yellow-300"
            >'Roberto Murillo'</span
          >,
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;position: <span class="text-yellow-300"
            >'full stack software engineer'</span
          >,
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;website: <span class="text-yellow-300"
            >'<a
              href="/"
              target="_blank"
              class="text-yellow-300 hover:underline focus:border-none"
              >https://rcmcodes.com</a
            >'</span
          >,
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;about: <span class="text-yellow-300"
            >'welcome to my quick links page'</span
          >,
        </p>
        <p>&nbsp;&nbsp;</p>
      </p>
      <p></p>
    </p>
  </div>
</div>
