---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";

const links = [
  { name: "Personal Website", icon: "solar:ufo-3-broken" },
  { name: "LinkedIn", icon: "simple-icons:linkedin" },
  { name: "GitHub", icon: "simple-icons:github" },
  { name: "Twitter", icon: "simple-icons:twitter" },
  { name: "Instagram", icon: "simple-icons:instagram" },
];
---

<main class="h-auto flex flex-col gap-5 items-center mt-5">
  {
    links.map((item) => (
      <Button>
        <div class="flex flex-row items-center justify-center gap-2">
          <Icon name={item.icon} class="h-7 w-7" />
          {item.name}
        </div>
      </Button>
    ))
  }
</main>
